<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="" />         <!-- Ex: contoso.com -->
    <add key="ida:ClientId" value="" />       <!-- Ex: 67dce990-8365-4393-b6ae-d64bc63a0b7b --> 
    <add key="ida:CertName" value="" />       <!-- Ex: CN=KirkeBatch -->
    <add key="keyvault:VaultUri" value=""/>   <!-- Ex: https://kirkevault.vault.azure.net -->
    <add key="keyvault:SecretName" value=""/> <!-- Ex: mysecret -->
  </appSettings>
</configuration>